body {
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat';
    overflow: hidden;
}

section {
    display: grid;
    grid-template-columns: repeat(10, auto);
}
.color {
    background-color: white;
    height: 100vh;
    transition: background-color 1s;
}

h1 {
    font-size: 5em;
    position: absolute;
    top: 40%;
    left: 12%;
    opacity: 0;
    z-index: 2;
    color: #a3a3a3;
}
 
input
{
    width: 400px;
    height: 50px;
    border: none;
    font-size: 20px;
    border-radius: 50px;
    background-color: rgb(50, 59, 56);
    position: absolute;
    background-color: #ffa098;
    opacity: 0; 
}
input::placeholder
{
    color: #fff;
}
.username
{
    padding-left: 20px; 
    top: 40%;
}

.password
{
    padding-left: 20px; 
    top: 50%;
}

.btn
{
    width: 100px;
    top: 60%;
    color: #fff;
    background-color: #ffa098;
}

.btn:hover
{
    background-color: #f9ccc7;
    color: #000;
}