@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1704701967929') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjia:before {
  content: "\e61f";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-yonghuguanli:before {
  content: "\e610";
}

.icon-role:before {
  content: "\e61c";
}

.icon-add-role:before {
  content: "\e60b";
}

.icon-zidianpeizhi:before {
  content: "\e651";
}

.icon-richeng:before {
  content: "\e61d";
}

.icon-shuishoucaiwu:before {
  content: "\e8b8";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-caidanguanli:before {
  content: "\e658";
}

.icon-xwtubiaoku-13:before {
  content: "\e61a";
}

.icon-zhedie2:before {
  content: "\e620";
}

.icon-zhedie1:before {
  content: "\e621";
}

